@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

.main-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
}

.charts-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  width: 1300px;
  padding-left:8%;
}

.left-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

.right-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.row-container{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

.column-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.left-column{
  padding-left: 8%;
  padding-right: 0%;
}

.middle-column{
  padding-left: 0%;
  padding-right: 15%;
}

.middle-column-p{
  padding-left: 0%;
  padding-right: 20%;
}

.middle-col-select{
  padding-left: 15%;
}


.right-column{
  padding-left: 0%;
  padding-right: 10%;
}

.right-column-p{
  padding-left: 0%;

}

.chart-wrapper{
  margin: 0 10px;
  width: 100%;
}

.filter-container{
  padding: 10%;
}

.filter-container-typeViz{
  padding: 10%;
  width: 290px;
}

.filter-container-intervalDates{
  padding: 10%;
  padding-top: 0%;
  padding-bottom: 10%;
  width: 290px;
}

.filter-container-DatesFilter{
  padding: 10%;
  padding-top: 0%;
  width: 360px;
}

.filter-container-typeDepth{
  padding: 10%;
  padding-top: 232%;
  padding-bottom: 0%;
  width: 270px;
}

.filter-container-ref{
  padding: 10%;
  padding-top: 7%;
  width: 400px;
}

.filter-container-elevation{
  padding: 10%;
  width: 290px;
}

.filter-container-typeInputs1{
  padding: 5%;
  padding-left: 20px;
  padding-right: 0%;
  width: 280px;
}

.filter-container-typeInputs2{
  padding: 5%;
  padding-left: 40px;
  padding-right: 0%;
  width: 280px;
}

.filter-container-typeSummary{
  padding-top: 10%;
  width: 390px;
}

.filter-container-graphClock{
  padding: 0%;
  width: 290px;
}

.left-graph{
  width: 1550px;
}

.filter-container-slider{
  padding-top:4.5%;
  padding-left: 0%;
  width: 10px;
  height: 400px;
}

.container-slider{
  padding-left: 0%;
  height: 530px;
}

.chartABName{
  padding-left: 210px;
  padding-bottom: 10px;
}

.chartDatesName{
  padding-top: 10px;
  padding-left: 210px;
  padding-bottom: 5px;
}


.container-profile{
  padding-left: 10%;
}

.container-profile-p{
  padding-left: 0%;
}

.left-column-p{
  padding-left: 0%;
  padding-right: 15%;
}

.left-column-profile{
  padding-left: 0%;
}

.selectedRefDate option:hover{
  background-color:#10b981;
}

.filter-container-typeInputsLocation{
  padding-bottom: 5%;
  padding-left: 25px;
  padding-top: 10%;
  width: 280px;
}

.chart-wrapper2{
  width: 300px;
  flex: 1;
  margin-right: -200px;
}

.flex-charts-container {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.page-footer{
  height: 100px;
}

.label-container {
  display: flex;
  justify-content: center;
}

/* Monitoring Profiles */
.filter-container-monitProfile{
  padding-top: 30px;
  flex: 1 1 auto;
}

.flex-grow {
  flex: 1 1 auto;
  flex-grow: 1;
}

.button-container{
  display: flex;
  padding-left: 5%;
}

.button-container2{
  display: flex;
  justify-content: center;
  align-items: center;
}

.submit-button {
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
}

.submit-button-profile {
  padding-top: 35px;
  padding-left: 110px;
  padding-right: 110px;
}


.submit-selected-button {
  padding-top: 15px;
}

.new-selected-button {
  padding-top: 15px;
}

.new-button {
  padding-top: 15px;
}

.full-screen {
  min-height: calc(100vh - 156px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.filter-container-typeOfProfile{
  padding-bottom: 5%;
  padding-left: 0%;
  padding-right: 30%;
  padding-top: 0%;
  width: 350px;
}

.tableAndContainer{
  display: flex;
}

.tableAndContainerT{
  flex: 1;
  margin-right: 16px;
  padding-left: 30px;
}

.tableAndContainerC{
  flex: 1;
}

.export-data{
  padding-top: 10%;
  padding-bottom: 22%;
  padding-left: 25%;
}

.azimute{
  position: relative;
  width: 250px;
  height: 250px;
}

.base-image {
  width: 100%;
  height: 100%;
}

.overlay-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.parentContainer {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.availableImageContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 43%;
}

.availableImageName {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
}

.imageNameContainer {
  padding-top: 7px;
  display: flex;
  justify-content: flex-start;
}

.rowCanvas-container{
  display: flex;
  flex-direction: column;
}

.selectCoordColumn1{
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
  padding-top:2%;
  padding-right: 10%;
  padding-left: 10%;
}

.selectCoordColumn2{
  display: flex;
  flex-direction: column;
  width: 50%;
}

.selectCoordRow{
  display: flex;
  flex-direction: row;
}

.incMapCoord{
}

.goBackButtonParent {
  display: flex;
  width: 73%;
}

.goBackButton {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.divScale{
  padding-top: 10px;
  display: flex;
  align-items: center;
}


.horizontalScale{
  display: flex;
  justify-content: flex-end;
}

.colorScale{
  width: 100px;
}

.ScaleAndText{
  padding-left: 10px;
}

.ScaleAndText2{
  padding-left: 0px;
}

.ScaleAndText img{
  padding-left: 5px;
}

.verticalScale{
  padding-top: 370px;
  padding-left: 5px;
  display: flex;
  justify-content: flex-end;
}

.input-label-pair:hover label {
  color: black;
}

.fab-container {
  position: fixed;
  bottom: 16px;
  right: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  z-index: 1000;
}

.fab {
  margin: 4px 0;
}

.azimute-settings{
  flex: 1;
  padding-left: 15px;
  padding-right: 5px;
  padding-top: 50px;
  max-width: 280px;
}

.container-form-maps {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
}

.filter-container-settings{
  padding-top: 10px;
  padding-bottom: 20px;
}

.form-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f9f9f9;
  border: 1px solid #e2e8f0;
  padding: 10px;
  border-radius: 4px;
}

.form-group label {
  flex: 2;
  margin-right: 10px;
  text-align: left;
}

.form-group input {
  flex: 1;
  padding: 10px;
  border: 1px solid #e2e8f0;
  border-radius: 4px;
}

.container-sortable-list {
  padding: 0px 20px 20px;
  font-size: 18px;
}

.sortable-list {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  margin-top: 20px;
  background-color: #f9f9f9;
}

.new-item {
  margin-bottom: 20px;
}

.color-input {
  width: 50px;
  height: 50px;
}

.input-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 20px;
}

.input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.input-label {
  font-size: 20px;
  margin-bottom: 5px;
}

.input-field {
  padding: 10px;
  font-size: 18px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.input-field-numbers {
  padding: 10px;
  font-size: 18px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100px;
}

.add-button {
  padding: 10px 20px;
  font-size: 18px;
  background-color: #10b981;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.add-button:hover {
  background-color: #047857;
}
.item-labels {
  display: flex;
  padding: 0 10px;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 16px;
}

.item-labels > span {
  flex: 1;
  text-align: center;
}

.label-openwith {
  flex: 0 0 24px;
  margin-right: 15px;
}

.label-symbol{
  margin-right: 0px;
}

.label-description, .label-thickness, .label-topLevel, .label-delete {
  margin-right: 20px;
}

.label-color {
  margin-right: 0px;
  width: 30px;
}

.item {
  display: flex;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #fff;
  transition: background-color 0.3s ease;
}

.item.dragging {
  background-color: #e0e0e0;
}

.details {
  display: flex;
  align-items: center;
  width: 100%;
}

.details > * {
  flex: 1;
  text-align: center;
  margin-right: 20px;
}

.detail-symbol, .detail-description, .detail-thickness, .detail-topLevel {
  display: inline-block;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #f0f0f0;
}

.detail-color {
  flex: 0 0 30px;
  width: 30px;
  height: 30px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.input-field-sensorSpacing {
  padding: 10px;
  font-size: 18px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 120px;
}

.filter-container-sensorSpacing{
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
}

.profile-container {
  background-color: #fff;
  padding: 20px 40px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  width: 100%;
}

.profile-header {
  font-size: 1.8rem;
  margin-bottom: 20px;
  color: #333;
  text-align: center;
}

.profile-info {
  line-height: 1.6;
}

.profile-item {
  font-size: 1.3rem;
  color: #555;
  margin-bottom: 10px;
  text-align: left;
}

.edit-button-profile {
  margin-top: 20px;
  background-color: #10b981;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.edit-button-profile:hover {
  background-color: #047857;
}

.save-button-profile {
  background-color: #10b981;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.save-button-profile:hover {
  background-color: #047857;
}

.login-container {
  max-width: 600px;
  width: 400px;
  margin: 0 auto;
  padding: 30px;
  background-color: #f8f9fa;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.login-title {
  text-align: center;
  font-size: 26px;
  margin-bottom: 20px;
  color: #333;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.input-group-login {
  margin-bottom: 15px;
}

.input-group-login label {
  display: block;
  font-size: 22px;
  margin-bottom: 5px;
  color: #666;
}

.input-group-login input {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
  outline: none;
}

.input-group-login input:focus {
  border-color: #10b981;
  box-shadow: 0 0 5px #047857;
}

.login-button {
  background-color: #10b981;
  color: white;
  padding: 12px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-button:hover {
  background-color: #047857;
}

@media (max-width: 600px) {
  .login-container {
    padding: 20px;
  }

  .login-button {
    padding: 10px;
  }
}

.input-group-profile input {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
  outline: none;
}

.input-group-profile input:focus {
  border-color: #10b981;
  box-shadow: 0 0 5px #047857;
}

.input-group-profile label {
  display: block;
  font-size: 22px;
  margin-bottom: 5px;
  color: #666;
}

.password-title {
  margin-top: 20px;
  text-align: center;
  font-size: 26px;
  margin-bottom: 20px;
  color: #333;
}
